---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Solutions from '../components/Solutions.astro';
import About from '../components/About.astro';
import Principles from '../components/Principles.astro';
import ContactsOnly from '../components/ContactsOnly.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BelkaPay">
  <div class="wrapper">
    <Header isMultiPage={false} />
    <main>
      <Main isFeedback={false} />
      <Solutions isIndexPage={true} />
      <About isIndexPage={true} />
      <Principles />
    </main>
  </div>
  <div class="contacts">
    <div class="wrapper">
      <ContactsOnly isIndexPage={true} />
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <Footer />
    </div>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    @include pageContent;
  }
  .contacts {
    width: 100%;
    background-color: #ffffff;
  }
  .footer {
    width: 100%;
    background-color: #292929;
  }
</style>
