---
import { content } from "../scripts/content"
import Block from "./AboutBlock.astro"

interface Props {
  isIndexPage: boolean;
}

const { isIndexPage } = Astro.props;
const ctn = content.about
---

<section id="about" class="mt-[96px]">
  <div class="title">{ctn.title}</div>

  { !isIndexPage && (
    <div class="mt-[24px]">
    {
      ctn.text.map((item) => (
        <p>{item}</p>
      ))
    }
  </div>
  )
  }

  {isIndexPage && (
    <div class="mt-[32px] border">
      {
        ctn.list.map(({number, title, textArr}, index, arr) => (
          <Block 
            number={number}
            title={title}
            textArr={textArr}
            isLast={index === arr.length - 1}
          />
        ))
      }
    </div>
  )}
</section>


<style lang="scss">
  .border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #CAD2E1;
    padding: 32px;
  }
</style>
