---
import { content } from '../scripts/content';
import Block from './AboutBlock.astro';

interface Props {
  isIndexPage: boolean;
}

const { isIndexPage } = Astro.props;
const titleCls = isIndexPage ? "title" : "title-main"
const ctn = content.about;
---

<section id="about" class="mt-[96px]">
  <div class={titleCls} data-aos="fade-up">{ctn.title}</div>

  {
    !isIndexPage && (
      <div class="mt-[24px]" data-aos="fade-up">
        {ctn.text.map((item) => (
          <p class="mt-[24px]">{item}</p>
        ))}
      </div>
    )
  }

  {
    isIndexPage && (
      <div class="mt-[32px] border">
        {ctn.list.map(({ number, title, textArr }, index, arr) => (
          <Block number={number} title={title} textArr={textArr} isLast={index === arr.length - 1} />
        ))}
      </div>
    )
  }
</section>

<style lang="scss">
  .border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    border: 1px solid #cad2e1;
    border-radius: 16px;
  }
</style>
