---
import { content } from '../scripts/content';
interface Props {
  isIndexPage: boolean;
}

const { isIndexPage } = Astro.props;
const titleCls = isIndexPage ? "title" : "title-main";
const sectionMargin = isIndexPage ? "mt-[96px]" : "";
const ctn = content.contacts;
---

<section id="contacts" class={sectionMargin}>
  <div class="contacts-block">
    <div class={titleCls} data-aos="fade-up">{ctn.title}</div>
    <div class="center py-[16px] md:py-[20px]">
      {
        ctn.list.map((item) => (
          <div data-aos="fade-up">
            <div class="item-title mt-[32px]">{item.title}</div>
            <div class="mt-[12px]">
              {item.textArr.map((item) => (
                <div>
                  <a href={item.link}>{item.text}</a>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  .contacts-block {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    @include media('>=tablet') {
      padding: 96px 0px;
      gap: 24px;
    }
  }
  .center {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    @include media('>=tablet') {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .item-title {
    font-weight: 800;
  }
</style>