---
import { content } from '../scripts/content';
import logoSvg from '../images/logo.svg';
import crossSvg from '../images/icons/cross.svg';
import phoneSvg from '../images/icons/phone.svg';
import burgerSvg from '../images/icons/burger.svg';
import NavButton from './NavButton.astro';

interface Props {
  isMultiPage: boolean;
}

const { isMultiPage } = Astro.props;
const ctn = content.info;
---

<header class="mt-[24px] md:mt-[32px]">
  <div class="flex items-center">
    <a href="./index.html">
      <img class="w-[137px] md:w-[110px] lg:w-[137px]" src={logoSvg.src} alt="logo" />
    </a>
  </div>
  <nav class="hidden flex-row items-center md:flex">
    <NavButton
      section={isMultiPage ? ctn.nav.solutions.linkPage : ctn.nav.solutions.link}
      name={ctn.nav.solutions.title}
    />
    <NavButton section={isMultiPage ? ctn.nav.about.linkPage : ctn.nav.about.link} name={ctn.nav.about.title} />
    <NavButton
      section={isMultiPage ? ctn.nav.contacts.linkPage : ctn.nav.contacts.link}
      name={ctn.nav.contacts.title}
    />
  </nav>
  <div class="flex flex-row items-center">
    <div class="hidden flex-row items-center md:flex">
      <div class="mr-[8px]"><img src={phoneSvg.src} alt="phone" /></div>
      <span class="text-[16px] font-medium"><a href={ctn.tel.number}>{ctn.tel.title}</a></span>
    </div>
    <div>
      <img id="open-modal" class="block cursor-pointer p-[5px] md:hidden" src={burgerSvg.src} alt="logo" />
    </div>
  </div>

  <div id="modal" class="modal hidden">
    <div class="modal-header flex items-center justify-between">
      <div>
        <a href="./index.html">
          <img class="w-[137px]" src={logoSvg.src} alt="logo" />
        </a>
      </div>
      <div id="close-modal" class="cursor-pointer p-[5px]">
        <img src={crossSvg.src} alt="logo" />
      </div>
    </div>
    <div class="mt-[32px] flex flex-col gap-[24px]">
      <nav class="modal-nav flex flex-col gap-[24px]">
        <span><a href={ctn.nav.solutions.linkPage}>{ctn.nav.solutions.title}</a></span>
        <span><a href={ctn.nav.about.linkPage}>{ctn.nav.about.title}</a></span>
        <span><a href={ctn.nav.contacts.linkPage}>{ctn.nav.contacts.title}</a></span>
      </nav>
      <div class="flex flex-row items-center">
        <div class="mr-[8px]"><img src={phoneSvg.src} alt="phone" /></div>
        <span class="text-[16px] font-medium"><a href={ctn.tel.number}>{ctn.tel.title}</a></span>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    background: #fff;
    &-nav {
      font-weight: 600;
      font-size: 16px;
    }
  }
</style>

<script>
  document.getElementById('open-modal')?.addEventListener('click', () => {
    document.getElementById('modal')?.classList.remove('hidden');
  });

  document.getElementById('close-modal')?.addEventListener('click', () => {
    document.getElementById('modal')?.classList.add('hidden');
  });
</script>
