---
import { content } from '../scripts/content';
import { Picture } from 'astro:assets';
import Button from './RequestButton.astro';
import mainImage from '../images/main.png';

interface Props {
  isFeedback: boolean;
}

const { isFeedback } = Astro.props;

const ctn = content.main;
---

<section class="flex-flexrow mt-[40px] flex justify-between md:mt-[96px]">
  <div class="max-w-[752px] md:mr-[32px]">
    <div class="title-main">
      <span>{ctn.title}</span>
      <span class="hightlight">White&nbsp;Label</span>:
      <span>{ctn.subtitle}</span>
    </div>
    <div class="mt-[24px] font-semibold">{ctn.text}</div>
    <div class="mt-[32px] md:mt-[52px]">
      {isFeedback && <Button isContacts={false} />}
    </div>
  </div>
  <div class="hidden min-w-[42%] md:block">
    <Picture
      src={mainImage}
      formats={['avif', 'webp']}
      alt="Mobile phone"
      class="m-auto"
      width={mainImage.width / 2}
      densities={[1.5, 2]}
    />
  </div>
</section>

<style lang="scss">
  .hightlight {
    background: linear-gradient(90deg, #c21022 39.26%, #fd0d0b 81.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
